# Configurações de Email
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seu_email@gmail.com
MAIL_PASSWORD=sua_senha_de_app_16_caracteres
EMAIL_SUPRIMENTOS=suprimentos@suaempresa.com

# Configurações do Servidor
PORT=10000
DEBUG=False
