# Configurações de Email
EMAIL_USER=seu-email@gmail.com
EMAIL_PASS=sua-senha-de-app-16-digitos
EMAIL_SERVER=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SUPRIMENTOS=email-que-recebe-propostas@empresa.com
EMAIL_CC=
EMAIL_ADMINS=admin@empresa.com

# Configurações da Aplicação
DEBUG=False
PORT=5000
PYTHON_VERSION=3.11.0
